<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
  <Properties>
    <Property name="log-path">webapps/hospital/WEB-INF/logs</Property>
  </Properties>
  <Appenders>
    <RollingFile name="file" fileName="${log-path}/hospital.log" filePattern="${log-path}/hospital-%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="[%-5level] %d{DATE} [%c{1}] - %msg%n" />
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="[%-5level] %d{DATE} [%c{1}] - %msg%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="file" level="DEBUG"/>
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration> 